.entry-content{
    a{
        text-decoration: underline;
    }
}

#menu a{
    :not(.active) {
        text-decoration: underline;
    }
}

.entry-header {
    text-decoration: underline;
}

.archive-entry h3{
    text-decoration: underline;
}

.breadcrumbs a:hover{
    text-decoration: underline;
}

#members {
  display: inline;
  list-style: none;
}

#members li {
  display: inline;
}

#members li:after {
  content: ", ";
}
#members li:last-child:after {
    content: "";
}